<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>VIMS &#8211; Your Cars Our Policy</title>
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" href="~/Content/css/4d756.css" media="all" />
    <link rel='stylesheet' id='rabbit_css-css' href='~/Content/css/rbt-modules.css' type='text/css' media='all' />
    <link rel="stylesheet" href="~/Content/css/c138f.css" media="all" />
    <link rel="stylesheet" href="~/Content/css/fcfe9.css" media="all" />
    <link rel="stylesheet" href="~/Content/css/8b453.css" media="all" />
    <link rel='stylesheet' href='~/Content/css/css.css' type='text/css' media='all' />
    <script src="~/Scripts/js/eff97.js"></script>
    <script src="~/Scripts/js/f1253.js"></script>
    <script src="~/Scripts/js/864c2.js"></script>
    <script src="~/Scripts/4a55c4159e.js"></script>
</head>
<body class="home page-template page-template-full-width page-template-full-width-php page page-id-4 qode-core-1.0 qodef-smooth-scroll qodef-smooth-page-transitions qodef-menu-from-right qodef-header-standard qodef-sticky-header-on-scroll-down-up qodef-default-mobile-header qodef-sticky-up-mobile-header qodef-dropdown-animate-height qodef-light-header wpb-js-composer js-comp-ver-6.0.5 vc_responsive">
    <div class="qodef-smooth-transition-loader">
        <div class="qodef-st-loader">
            <div class="qodef-st-loader1">
            </div>
        </div>
    </div>
    <div class="qodef-wrapper">
        <div class="qodef-wrapper-inner">
            <header class="qodef-page-header">
                <div class="qodef-menu-area" style="background-color:rgba(255, 255, 255, 0)">
                    <div class="qodef-vertical-align-containers">
                        <div class="qodef-position-left">
                            <div class="qodef-position-left-inner">
                                <div class="qodef-logo-wrapper">
                                    <a href="/"
                                       style="height: 112px; color:white !important; font-family:'Pacifico';font-size:40px;margin-top: 30px;">
                                        Vims
                                </div>
                            </div>
                        </div>
                        <div class="qodef-position-right">
                            <div class="qodef-position-right-inner">
                                <nav class="qodef-main-menu qodef-drop-down qodef-default-nav">
                                    <ul id="menu-main-menu" class="clearfix">
                                        <li id="nav-menu-item-1773"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                            <a href="/Home/UserIndex/" class="">
                                                <span class="item_outer"
                                                      style="margin-top: -7px;">
                                                    <span class="item_inner">
                                                        <span class="menu_icon_wrapper">
                                                            <i class="menu_icon null fa"></i>
                                                        </span><span class="item_text">Home</span>
                                                    </span><span class="plus"></span>
                                                </span>
                                            </a>

                                        </li>
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <li id="nav-menu-item-1785"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                                <a href="/Account/Login/" class="">
                                                    <span class="item_outer">
                                                        <span class="item_inner">
                                                            <span class="menu_icon_wrapper">
                                                                <i class="menu_icon null fa"></i>
                                                            </span><span class="item_text">Sign In</span>
                                                        </span><span class="plus"></span>
                                                    </span>
                                                </a>

                                            </li>
                                            <li id="nav-menu-item-1796"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide icons wide_background">
                                                <a href="/Account/Register/" class="">
                                                    <span class="item_outer">
                                                        <span class="item_inner">
                                                            <span class="menu_icon_wrapper">
                                                                <i class="menu_icon null fa"></i>
                                                            </span><span class="item_text">Sign Up</span>
                                                        </span><span class="plus"></span>
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li id="nav-menu-item-1796"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide icons wide_background">
                                                <a href="/Manage/" class="">
                                                    <span class="item_outer">
                                                        <span class="item_inner">
                                                            <span class="menu_icon_wrapper">
                                                                <i class="menu_icon null fa"></i>
                                                            </span><span class="item_text">Hello @User.Identity.Name !!</span>
                                                        </span><span class="plus"></span>
                                                    </span>
                                                </a>
                                            </li>
                                        }


                                        <li id="nav-menu-item-2501"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children qodef-active-item has_sub narrow">
                                            <a href="/Home/Contact/" class=" current ">
                                                <span class="item_outer">
                                                    <span class="item_inner">
                                                        <span class="menu_icon_wrapper">
                                                            <i class="menu_icon null fa"></i>
                                                        </span><span class="item_text">Contact Us</span>
                                                    </span><span class="plus"></span>
                                                </span>
                                            </a>

                                        </li>
                                        <li id="nav-menu-item-2501"
                                            class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children qodef-active-item has_sub narrow">
                                            <a href="/Home/About/" class=" current ">
                                                <span class="item_outer">
                                                    <span class="item_inner">
                                                        <span class="menu_icon_wrapper">
                                                            <i class="menu_icon null fa"></i>
                                                        </span><span class="item_text">About Us</span>
                                                    </span><span class="plus"></span>
                                                </span>
                                            </a>

                                        </li>
                                    </ul>
                                </nav>
                                <a href="javascript:void(0)" class="qodef-menu-appear">
                                    <span class="icon">
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="line"></span>
                                        <span class="close"></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="qodef-sticky-header">
                    <div class="qodef-sticky-holder">
                        <div class=" qodef-vertical-align-containers">
                            <div class="qodef-position-left">
                                <div class="qodef-position-left-inner">
                                    <div class="qodef-logo-wrapper">
                                        <a href="./index.html"
                                           style="height: 54px; font-family:'Pacifico';font-size:40px;margin-top: 15px;">
                                            Vims

                                    </div>
                                </div>
                            </div>
                            <div class="qodef-position-right">
                                <div class="qodef-position-right-inner">
                                    <nav class="qodef-main-menu qodef-drop-down qodef-sticky-nav">
                                        <ul id="menu-main-menu-1" class="clearfix">
                                            <li id="sticky-nav-menu-item-1773"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                                <a href="/Home/UserIndex/" class="">
                                                    <span class="item_outer"
                                                          style="margin-top: -4px;">
                                                        <span class="item_inner">
                                                            <span class="menu_icon_wrapper">
                                                                <i class="menu_icon null fa"></i>
                                                            </span><span class="item_text">Home</span>
                                                        </span><span class="plus"></span>
                                                    </span>
                                                </a>
                                            </li>
                                            @if (!User.Identity.IsAuthenticated)
                                            {
                                                <li id="sticky-nav-menu-item-1785"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub narrow">
                                                    <a href="/Account/Login/" class="">
                                                        <span class="item_outer">
                                                            <span class="item_inner">
                                                                <span class="menu_icon_wrapper">
                                                                    <i class="menu_icon null fa"></i>
                                                                </span><span class="item_text">Sign In</span>
                                                            </span><span class="plus"></span>
                                                        </span>
                                                    </a>
                                                </li>
                                                <li id="sticky-nav-menu-item-1796"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide icons wide_background">
                                                    <a href="/Account/Register/" class="">
                                                        <span class="item_outer">
                                                            <span class="item_inner">
                                                                <span class="menu_icon_wrapper">
                                                                    <i class="menu_icon null fa"></i>
                                                                </span><span class="item_text">Sign Up</span>
                                                            </span><span class="plus"></span>
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li id="sticky-nav-menu-item-2501"
                                                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children qodef-active-item has_sub narrow">
                                                    <a href="/Manage/" class=" current ">
                                                        <span class="item_outer">
                                                            <span class="item_inner">
                                                                <span class="menu_icon_wrapper">
                                                                    <i class="menu_icon null fa"></i>
                                                                </span><span class="item_text">Hello @User.Identity.Name !!</span>
                                                            </span><span class="plus"></span>
                                                        </span>
                                                    </a>
                                                </li>
                                            }
                                            <li id="sticky-nav-menu-item-2501"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children qodef-active-item has_sub narrow">
                                                <a href="/Home/Contact/" class=" current ">
                                                    <span class="item_outer">
                                                        <span class="item_inner">
                                                            <span class="menu_icon_wrapper">
                                                                <i class="menu_icon null fa"></i>
                                                            </span><span class="item_text">Contact Us</span>
                                                        </span><span class="plus"></span>
                                                    </span>
                                                </a>
                                            </li>
                                            <li id="sticky-nav-menu-item-2501"
                                                class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children qodef-active-item has_sub narrow">
                                                <a href="/Home/About/" class=" current ">
                                                    <span class="item_outer">
                                                        <span class="item_inner">
                                                            <span class="menu_icon_wrapper">
                                                                <i class="menu_icon null fa"></i>
                                                            </span><span class="item_text">About Us</span>
                                                        </span><span class="plus"></span>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                    <a href="javascript:void(0)" class="qodef-menu-appear">
                                        <span class="icon">
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="line"></span>
                                            <span class="close"></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <header class="qodef-mobile-header">
                <div class="qodef-mobile-header-inner">
                    <div class="qodef-mobile-header-holder">
                        <div class="qodef-grid">
                            <div class="qodef-vertical-align-containers">
                                <div class="qodef-mobile-menu-opener">
                                    <a href="javascript:void(0)">
                                        <span class="qodef-mobile-opener-icon-holder">
                                            <i class="qodef-icon-font-awesome fa fa-bars "></i>
                                        </span>
                                    </a>
                                </div>
                                <div class="qodef-position-center">
                                    <div class="qodef-position-center-inner">
                                        <div class="qodef-mobile-logo-wrapper">
                                            <a href="/Home/UserIndex/"
                                               style="height: 54px; font-family:'Pacifico';font-size:40px;margin-top: 20px;">
                                                Vims
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="qodef-position-right">
                                    <div class="qodef-position-right-inner">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="qodef-mobile-nav">
                        <div class="qodef-grid">
                            <ul id="menu-main-menu-2" class="">
                                <li id="mobile-menu-item-1725"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children qodef-active-item has_sub">
                                    <a href="/Home/UserIndex/" class=" current "><span>Home</span></a><span class="mobile_arrow">
                                        <i class="qodef-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i>
                                    </span>
                                </li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li id="mobile-menu-item-1740"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                        <a href="/Manage/" class=""><span style="color:#212121 !important;">Hello @User.Identity.Name !!</span></a><span class="mobile_arrow">
                                            <i class="qodef-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i>
                                        </span>
                                    </li>

                                }
                                else
                                {
                                    <li id="mobile-menu-item-1734"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                        <a href="/Account/Login/" class=""><span>Log In</span></a><span class="mobile_arrow">
                                            <i class="qodef-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i>
                                        </span>
                                    </li>
                                    <li id="mobile-menu-item-1740"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                        <a href="/Account/Register/" class=""><span style="color:#212121 !important;">Sign Up</span></a><span class="mobile_arrow">
                                            <i class="qodef-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i>
                                        </span>
                                    </li>
                                }
                                <li id="mobile-menu-item-1740"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                    <a href="/Home/Contact/" class=""><span>Contact Us</span></a><span class="mobile_arrow">
                                        <i class="qodef-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i>
                                    </span>

                                </li>
                                <li id="mobile-menu-item-1740"
                                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub">
                                    <a href="/Home/About/" class=""><span>About Us</span></a><span class="mobile_arrow">
                                        <i class="qodef-sub-arrow fa fa-angle-right"></i><i class="fa fa-angle-down"></i>
                                    </span>

                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>



            <a id='qodef-back-to-top' href='#'>
                <span class="qodef-icon-stack">
                    <span aria-hidden="true" class="qodef-icon-font-elegant   ">
                        <i class="fa fa-chevron-up"
                           aria-hidden="true"></i>
                    </span>
                </span>
            </a>
            <div class="qodef-content" style="margin-top: -125px">
                <div class="qodef-content-inner">
                    <div class="qodef-slider shadow-lg" >
                        <div class="qodef-slider-inner">
                            <div id="qodef-home-main"
                                 data-qodef_responsive_graphic_coefficients="1,1,0.8,0.7,0.6,0.5,0.4"
                                 data-qodef_responsive_title_coefficients="1,0.8,0.7,0.6,0.5,0.35,0.25"
                                 data-qodef_responsive_subtitle_coefficients="1,1,0.8,0.7,0.6,0.5,0.4"
                                 data-qodef_responsive_text_coefficients="1,0.9,0.8,0.7,0.6,0.5,0.4"
                                 data-qodef_responsive_button_coefficients="1,1,0.9,0.9,0.8,0.7,0.6"
                                 class="carousel slide  qodef-full-screen   qodef-auto-start    "
                                 data-slide_animation_timeout="6000" data-parallax="yes">
                                <div class="qodef-slider-preloader">
                                    <div class="qodef-st-loader">
                                        <div class="qodef-st-loader1">
                                            <div class="pulse"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-inner " style="height: 100%"
                                     data-start="transform: translateY(0px);" data-1440="transform: translateY(-500px);">
                                    <div class="item   qodef-content-vertical-middle  " style=" padding-top: 0px;">
                                        <div class="qodef-image" style="background-image:url(../../../Content/userImages/slide-new-1.jpg)">
                                            <img src="~/Content/userImages/slide-new-1.jpg" alt="Creativity.">
                                        </div>
                                        <div class="qodef-slider-content-outer">
                                            <div class="qodef-slider-content center" data-0=" opacity: 1;   "
                                                 data-300=" opacity: 0;  ">
                                                <div class="qodef-slider-content-inner one_by_one from_bottom">
                                                    <div class="qodef-text one_by_one from_bottom " style="">
                                                        <div class="qodef-el">
                                                            <h2 class="qodef-slide-title"
                                                                style="color: #ffffff;font-size: 214px;line-height: 227px;font-family: &#039;Montserrat&#039;;font-style: normal;font-weight: 700;letter-spacing: -13px;text-transform: none;margin-bottom: 14px">
                                                                <span style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px">
                                                                    Hello
                                                                    !
                                                                </span>
                                                            </h2>
                                                        </div>
                                                        <div class="qodef-el">
                                                            <h3 class="qodef-slide-text"
                                                                style="color: #ffffff;font-size: 32px;line-height: 35px;font-family: &#039;Ubuntu&#039;;font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: none">
                                                                <span style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px">
                                                                    We are <span style="font-family:Pacifico">Vims</span> !!
                                                                </span>
                                                            </h3>
                                                        </div>
                                                        <div class="qodef-el">
                                                            <div class="qodef-slide-buttons-holder">
                                                                <a href="/Manage/" target="_blank"
                                                                   style="font-size: 14px;font-weight: 700;margin: 57px 10px 0 0 "
                                                                   class="qodef-btn qodef-btn-medium qodef-btn-solid">
                                                                    <span class="qodef-btn-text">Learn more <i class="fa fa-caret-right"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item   qodef-content-vertical-middle  " style=" padding-top: 0px;">
                                        <div class="qodef-image" style="background-image:url(../../../Content/userImages/slide-new-2.jpg)">
                                            <img src="~/Content/userImages/slide-new-2.jpg" alt="Creativity.">
                                        </div>
                                        <div class="qodef-slider-content-outer">
                                            <div class="qodef-slider-content center" data-0=" opacity: 1;   "
                                                 data-300=" opacity: 0;  ">
                                                <div class="qodef-slider-content-inner one_by_one from_bottom">
                                                    <div class="qodef-text one_by_one from_bottom " style="">
                                                        <div class="qodef-el">
                                                            <h2 class="qodef-slide-title"
                                                                style="color: #ffffff;font-size: 150px;line-height: 227px;font-family: &#039;Montserrat&#039;;font-style: normal;font-weight: 700;letter-spacing: -13px;text-transform: none;margin-bottom: 14px">
                                                                <span style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px">Privacy & Policy.</span>
                                                            </h2>
                                                        </div>
                                                        <div class="qodef-el">
                                                            <h3 class="qodef-slide-text"
                                                                style="color: #ffffff;font-size: 32px;line-height: 35px;font-family: &#039;Ubuntu&#039;;font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: none">
                                                                <span style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px">
                                                                    We care about your vehicle privacy and policy<br />A perfect policy is waiting for you up here !!
                                                                </span>
                                                            </h3>
                                                        </div>
                                                        <div class="qodef-el">
                                                            <div class="qodef-slide-buttons-holder">
                                                                <a href="/Manage/" target="_blank"
                                                                   style="font-size: 14px;font-weight: 700;margin: 57px 10px 0 0 "
                                                                   class="qodef-btn qodef-btn-medium qodef-btn-solid">
                                                                    <span class="qodef-btn-text">Learn more <i class="fa fa-caret-right"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item   qodef-content-vertical-middle  " style=" padding-top: 0px;">
                                        <div class="qodef-image" style="background-image:url(../../../Content/userImages/slide-new-3.jpg)">
                                            <img src="~/Content/userImages/slide-new-3.jpg" alt="Creativity.">
                                        </div>
                                        <div class="qodef-slider-content-outer">
                                            <div class="qodef-slider-content center" data-0=" opacity: 1;   "
                                                 data-300=" opacity: 0;  ">
                                                <div class="qodef-slider-content-inner one_by_one from_bottom">
                                                    <div class="qodef-text one_by_one from_bottom " style="">
                                                        <div class="qodef-el">
                                                            <h2 class="qodef-slide-title"
                                                                style="color: #ffffff;font-size: 214px;line-height: 227px;font-family: &#039;Montserrat&#039;;font-style: normal;font-weight: 700;letter-spacing: -13px;text-transform: none;margin-bottom: 14px">
                                                                <span style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px">Insurity.</span>
                                                            </h2>
                                                        </div>
                                                        <div class="qodef-el">
                                                            <h3 class="qodef-slide-text"
                                                                style="color: #ffffff;font-size: 32px;line-height: 35px;font-family: &#039;Ubuntu&#039;;font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: none">
                                                                <span style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px">
                                                                   Secure your vehicle with our policies and claim it as you need it<br />No insurity at all !
                                                                </span>
                                                            </h3>
                                                        </div>
                                                        <div class="qodef-el">
                                                            <div class="qodef-slide-buttons-holder">
                                                                <a href="/Manage/" target="_blank"
                                                                   style="font-size: 14px;font-weight: 700;margin: 57px 10px 0 0 "
                                                                   class="qodef-btn qodef-btn-medium qodef-btn-solid">
                                                                    <span class="qodef-btn-text">Learn more <i class="fa fa-caret-right"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item   qodef-content-vertical-middle  " style=" padding-top: 0px;">
                                        <div class="qodef-image" style="background-image:url(../../../Content/userImages/slide-new-4.jpg)">
                                            <img src="~/Content/userImages/slide-new-4.jpg" alt="Creativity.">
                                        </div>
                                        <div class="qodef-slider-content-outer">
                                            <div class="qodef-slider-content center" data-0=" opacity: 1;   "
                                                 data-300=" opacity: 0;  ">
                                                <div class="qodef-slider-content-inner one_by_one from_bottom">
                                                    <div class="qodef-text one_by_one from_bottom " style="">
                                                        <div class="qodef-el">
                                                            <h2 class="qodef-slide-title"
                                                                style="color: #ffffff;font-size: 214px;line-height: 227px;font-family: &#039;Montserrat&#039;;font-style: normal;font-weight: 700;letter-spacing: -13px;text-transform: none;margin-bottom: 14px">
                                                                <span style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px">Hope.</span>
                                                            </h2>
                                                        </div>
                                                        <div class="qodef-el">
                                                            <h3 class="qodef-slide-text"
                                                                style="color: #ffffff;font-size: 32px;line-height: 35px;font-family: &#039;Ubuntu&#039;;font-style: normal;font-weight: 400;letter-spacing: 0px;text-transform: none">
                                                                <span style="padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px">
                                                                    Hope for the betterment of your vehicle and the future of it with our policies !!
                                                                </span>
                                                            </h3>
                                                        </div>
                                                        <div class="qodef-el">
                                                            <div class="qodef-slide-buttons-holder">
                                                                <a href="/Manage/" target="_blank"
                                                                   style="font-size: 14px;font-weight: 700;margin: 57px 10px 0 0 "
                                                                   class="qodef-btn qodef-btn-medium qodef-btn-solid">
                                                                    <span class="qodef-btn-text">Learn more <i class="fa fa-caret-right"></i></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ol class="carousel-indicators" data-start="opacity: 1;" data-300="opacity:0;" style="margin-left:0px;">
                                    <li data-target="#qodef-home-main" data-slide-to="0" class="active"></li>
                                    <li data-target="#qodef-home-main" data-slide-to="1"></li>
                                    <li data-target="#qodef-home-main" data-slide-to="2"></li>
                                    <li data-target="#qodef-home-main" data-slide-to="3"></li>
                                </ol>
                                <div class="qodef-controls-holder">
                                    <a class="left carousel-control"
                                       style="padding-top: px;" href="#qodef-home-main" data-slide="prev"
                                       data-start="opacity: 1;" data-300="opacity:0;">
                                        <span class="qodef-prev-nav">
                                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                        </span>
                                    </a><a class="right carousel-control" style="padding-top: px;" href="#qodef-home-main"
                                           data-slide="next" data-start="opacity: 1;" data-300="opacity:0;">
                                        <span class="qodef-next-nav">
                                            <i class="fa fa-chevron-right"
                                               aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="qodef-full-width">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="qodef-footer-inner clearfix">
                <div class="qodef-footer-top-holder">
                    <div class="qodef-footer-top ">
                        <div class="qodef-container">
                            <div class="qodef-container-inner">
                                <div class="qodef-four-columns clearfix">
                                    <div class="qodef-four-columns-inner">
                                        <div class="qodef-column">
                                            <div class="qodef-column-inner">
                                                <div id="text-5" class="widget qodef-footer-column-1 widget_text">
                                                    <div class="textwidget">
                                                        <div class="vc_empty_space" style="height: 5px">
                                                            <span class="vc_empty_space_inner"></span>
                                                        </div>
                                                        <a href="/Home/UserIndex/">
                                                            <img src="~/Content/images/VIMS.jpg" alt="logo">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qodef-column">
                                            <div class="qodef-column-inner">
                                                <div id="text-2" class="widget qodef-footer-column-2 widget_text">
                                                    <h4 class="qodef-footer-widget-title">Address</h4>
                                                    <div class="textwidget">
                                                        198 West 21th Street, Suite 721
                                                        New York NY 10010
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qodef-column">
                                            <div class="qodef-column-inner">
                                                <div id="text-3" class="widget qodef-footer-column-3 widget_text">
                                                    <h4 class="qodef-footer-widget-title">Contact</h4>
                                                    <div class="textwidget">
                                                        Email: <a href="/cdn-cgi/l/email-protection"
                                                                  class="__cf_email__"
                                                                  data-cfemail="f0899f8582959d91999cb0899f8582949f9d91999ede939f9d">[email&#160;protected]</a>
                                                        Phone: +88 (0) 101 0000 000
                                                        <p>Fax: +88 (0) 202 0000 001</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qodef-column">
                                            <div class="qodef-column-inner">
                                                <div id="text-4" class="widget qodef-footer-column-4 widget_text">
                                                    <h4 class="qodef-footer-widget-title">Follow Us</h4>
                                                    <div class="textwidget">
                                                        Ut wisi enim ad minim veniam, quis
                                                        nostrud ullamcorp
                                                        <div class="vc_empty_space" style="height: 23px">
                                                            <span class="vc_empty_space_inner"></span>
                                                        </div>
                                                        <span class="qodef-icon-shortcode normal" style="margin: 4px"
                                                              data-hover-color="#3a6ee8" data-color="#ffffff">
                                                            <a class="" style="font-size: 30px;"
                                                               href="https://www.facebook.com/" target="_blank"
                                                               rel="noopener noreferrer">
                                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                                            </a>
                                                        </span>
                                                        <span class="qodef-icon-shortcode normal" style="margin: 4px"
                                                              data-hover-color="#3a6ee8" data-color="#ffffff">
                                                            <a class="" style="font-size: 30px;"
                                                               href="https://twitter.com/" target="_blank"
                                                               rel="noopener noreferrer">
                                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                                            </a>
                                                        </span>
                                                        <span class="qodef-icon-shortcode normal" style="margin: 4px"
                                                              data-hover-color="#3a6ee8" data-color="#ffffff">
                                                            <a class="" style="font-size: 30px;"
                                                               href="https://www.instagram.com/" target="_blank"
                                                               rel="noopener noreferrer">
                                                                <i class="fa fa-instagram" aria-hidden="true"></i>
                                                            </a>
                                                        </span>
                                                        <span class="qodef-icon-shortcode normal" style="margin: 4px;"
                                                              data-hover-color="#3a6ee8" data-color="#ffffff">
                                                            <a class="" style="font-size: 30px;"
                                                               href="https://dribbble.com/" target="_blank"
                                                               rel="noopener noreferrer">
                                                                <i class="fa fa-dribbble" aria-hidden="true"></i>
                                                            </a>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <script src="~/Scripts/js/0895c.js"></script>
    <script src="~/Scripts/js/0fef6.js"></script>
    <script type='text/javascript' src='~/Scripts/js/jquery.lazy.min.js'></script>
    <script type='text/javascript' src='~/Scripts/js/rbt-modules.js'></script>
    <script src="~/Scripts/js/6d18f.js"></script>
    <script src="~/Scripts/js/3c2c7.js"></script>
    <script src="~/Scripts/js/f6e06.js"></script>
    <script type='text/javascript'>
        var qodefGlobalVars = { "vars": { "qodefAddForAdminBar": 0, "qodefElementAppearAmount": -50, "qodefFinishedMessage": "No more posts", "qodefMessage": "Loading new posts...", "qodefTopBarHeight": 0, "qodefStickyHeaderHeight": 0, "qodefStickyHeaderTransparencyHeight": 60, "qodefLogoAreaHeight": 0, "qodefMenuAreaHeight": 125, "qodefMobileHeaderHeight": 70 } };
        var qodefPerPageVars = { "vars": { "qodefStickyScrollAmount": 0, "qodefHeaderTransparencyHeight": 0 } };
    </script>
    <script src="~/Scripts/js/79897.js"></script>
    <script src="~/Scripts/js/b02cd.js"></script>


</body>
</html>
