.vc_custom_1448021633492 {
			background-color: #ffffff !important;
		}

		.vc_custom_1447930537043 {
			margin-top: -169px !important;
			margin-bottom: -180px !important;
		}

		.vc_custom_1450883790664 {
			padding-top: 240px !important;
			padding-bottom: 60px !important;
		}

		.vc_custom_1450884612552 {
			padding-top: 100px !important;
			padding-bottom: 54px !important;
			background-color: #ffffff !important;
		}

		.vc_custom_1450884623479 {
			padding-bottom: 107px !important;
			background-color: #ffffff !important;
		}

		.vc_custom_1451381348768 {
			padding-top: 85px !important;
			padding-bottom: 58px !important;
			background-color: #ffffff !important;
		}

		.vc_custom_1447945465809 {
			padding-top: 66px !important;
			padding-bottom: 60px !important;
			background-color: #f6f6f6 !important;
		}

		.vc_custom_1448964504717 {
			padding-bottom: 60px !important;
			background-color: #f6f6f6 !important;
		}

		.vc_custom_1447946663428 {
			padding-top: 64px !important;
			background-color: #ffffff !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: cover !important;
		}

		.vc_custom_1447946933817 {
			padding-bottom: 41px !important;
			background-color: #ffffff !important;
			background-position: center !important;
			background-repeat: no-repeat !important;
			background-size: cover !important;
		}

		.vc_custom_1447948559014 {
			padding-top: 68px !important;
			padding-bottom: 59px !important;
			background-color: #44519E !important;
		}

		.vc_custom_1451377954317 {
			margin-left: 15px !important;
			border-left-width: 1px !important;
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			padding-left: 20px !important;
			border-left-color: #ffffff !important;
			border-left-style: solid !important;
		}

		.vc_custom_1451377977133 {
			margin-left: 15px !important;
			border-left-width: 1px !important;
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			padding-left: 20px !important;
			border-left-color: #ffffff !important;
			border-left-style: solid !important;
		}

		.vc_custom_1451377991638 {
			margin-left: 15px !important;
			border-left-width: 1px !important;
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			padding-left: 20px !important;
			border-left-color: #ffffff !important;
			border-left-style: solid !important;
		}

		.vc_custom_1448010380971 {
			padding-right: 4% !important;
		}

		.vc_custom_1448887611029 {
			margin-top: -2px !important;
        }
        img.wp-smiley,
		img.emoji {
			display: inline !important;
			border: none !important;
			box-shadow: none !important;
			height: 1em !important;
			width: 1em !important;
			margin: 0 .07em !important;
			vertical-align: -0.1em !important;
			background: none !important;
			padding: 0 !important;
        }
        .qodef-vertical-align-containers .qodef-position-center:before,
		.qodef-vertical-align-containers .qodef-position-left:before,
		.qodef-vertical-align-containers .qodef-position-right:before {
			margin-right: 0;
		}

		.page-id-1875 .wpb_single_image a {
			position: relative;
		}

		.page-id-1875 .wpb_single_image a:before {
			background-color: rgba(13, 13, 13, 0.56);
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: 100%;
			height: 100%;
			opacity: 0;
			-webkit-transition: opacity 0.2s ease-out;
			transition: opacity 0.2s ease-out;
		}


		.page-id-1875 .wpb_single_image a:after {
			content: "\4c";
			font-family: 'ElegantIcons';
			color: #fff;
			font-size: 52px;
			opacity: 0;
			-ms-transition: opacity 0.2s ease-out, -ms-transform 0.2s ease-out;
			-webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
			transition: opacity 0.2s ease-out, transform 0.2s ease-out;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translateX(-50%) translateY(-75%);
			ms-transform: translateX(-50%) translateY(-75%);
			transform: translateX(-50%) translateY(-75%);
		}

		.page-id-1875 .wpb_single_image a:hover:before {
			opacity: 1;
		}

		.page-id-1875 .wpb_single_image a:hover:after {
			opacity: 1;
			-webkit-transform: translateX(-50%) translateY(-50%);
			ms-transform: translateX(-50%) translateY(-50%);
			transform: translateX(-50%) translateY(-50%);
		}

		.page-id-1875 header,
		.page-id-1875 #qodef-back-to-top {
			display: none;
        }
        .page-id-4 .qodef-wrapper-inner,
		.page-id-4 .qodef-content {
			background-color: #f4f4f4;
		}