@model ICollection<VIMS.Models.CustomerPolicyRecord>
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Policy</h2>
<a href="/Reporting/">All</a>
<a href="/Reporting/t">Today</a>
<a href="/Reporting/m">Monthly</a>
<a href="/Reporting/m:1">Monthly</a>

