@model dynamic
@using WebApplication19.Models;
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Header -->
<header class="header">
    <!-- Header Bottom Area -->
    <div class="header-bottomarea">
        <div class="container">
        </div>
    </div>
    <!--// Header Bottom Area -->
    <!-- Mobile Menu -->
    <div class="mobile-menu-wrapper clearfix">
        <div class="container">
            <div class="mobile-menu"></div>
        </div>
    </div>
    <!--// Mobile Menu -->

</header>
<!--// Header -->

<div class="heroslider-area in-sliderarrow">
    <!-- Hero Slider Single -->
    <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="../../assets/images/bg/background-image-1.jpg"
         data-secondary-overlay="8">
        <div class="container">

            <div class="row align-items-center">
                <div class="col-xl-9 col-lg-8">
                    <div class="heroslider-content">
                        <h1><span>For better future </span>Gregory money</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et
                            dolore
                        </p>
                        <div class="heroslider-buttonholder">
                            <a href="Home/About" class="in-button in-button-theme">About Us</a>
                            <a href="contact.html" class="in-button in-button-colorwhite">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="heroslider-roundbox roundbox">
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="flaticon-mind"></i>
                            </span>
                            <h5>Personal PLan</h5>
                        </div>
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="flaticon-life-insurence"></i>
                            </span>
                            <h5>Famliy PLan</h5>
                        </div>
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="flaticon-planning"></i>
                            </span>
                            <h5>Group PLan</h5>
                        </div>
                        <div class="roundbox-block">
                            <span class="roundbox-icon">
                                <i class="flaticon-businessman"></i>
                            </span>
                            <h5>Others PLan</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Hero Slider Single -->
    <!-- Hero Slider Single -->
    <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="assets/images/bg/background-image-3.jpg"
         data-secondary-overlay="8">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="heroslider-content text-center">
                        <h1><span>For better future </span>Gregory Services</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et
                            dolore
                        </p>
                        <div class="heroslider-buttonholder">
                            <a href="about-us.html" class="in-button in-button-theme">About Us</a>
                            <a href="contact.html" class="in-button in-button-colorwhite">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Hero Slider Single -->
    <!-- Hero Slider Single -->
    <div class="heroslider animated-heroslider d-flex align-items-center" data-bgimage="assets/images/bg/background-image-2.jpg"
         data-secondary-overlay="8">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="heroslider-content">
                        <h1><span>For better future </span>Secure Account</h1>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                            incididunt ut labore et
                            dolore
                        </p>
                        <div class="heroslider-buttonholder">
                            <a href="about-us.html" class="in-button in-button-theme">About Us</a>
                            <a href="contact.html" class="in-button in-button-colorwhite">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Hero Slider Single -->

</div>

<!-- Features Area -->
<div class="features-area in-section section-padding-md bg-white">
    <div class="container">
        <div class="row features-wrapper">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="in-feature">
                    <span class="in-feature-icon">
                        <i class="flaticon-lock"></i>
                    </span>
                    <h4>Secure Account With Gurantee</h4>
                    <p>Do eiusmod tempor incididunt ut labore et dolore masit amet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="in-feature">
                    <span class="in-feature-icon">
                        <i class="flaticon-lab"></i>
                    </span>
                    <h4>10 Years Of Experience</h4>
                    <p>Do eiusmod tempor incididunt ut labore et dolore masit amet.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="in-feature">
                    <span class="in-feature-icon">
                        <i class="flaticon-partner"></i>
                    </span>
                    <h4>Dedicated Team With Strong Skill</h4>
                    <p>Do eiusmod tempor incididunt ut labore et dolore masit amet.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Features Area -->
<!-- Page Conttent -->
<main class="page-content">
    <!-- Testimonial Area -->
    <div class="testimonial-area in-section section-padding-lg bg-white">

        <div class="testimonial-slider in-slidearrow-2">
            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Tatum Hauck</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Lincoln Schiller</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Theron Gottlieb</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Alejandra Klein</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

            <div class="slider-item">
                <!-- Single Testimonial -->
                <div class="testimonial">
                    <div class="testimonial-header">
                        <div class="testimonial-image">
                            <img src="assets/images/testimonial/testimonial-author-1.png" alt="testimonial author">
                        </div>
                        <span><img src="assets/images/icons/title-bottom-shape.png" alt="shape"></span>
                    </div>
                    <div class="testimonial-content">
                        <p>
                            Exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure abore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud dolor in reprehenderit
                        </p>
                        <h5>Bulah Macejkovic</h5>
                        <h6>Consultant</h6>
                    </div>
                    <ul class="testimonial-socialicons">
                        <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-google-plus"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                        <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                    </ul>
                </div>
                <!--// Single Testimonial -->
            </div>

        </div>
    </div>
    <!--// Testimonial Area -->
    <!-- Call To Action Area -->
    <div class="calltoaction-area in-section section-padding-lg bg-image-1" data-secondary-overlay="9">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="in-cta text-center">
                        <h4>NEED AN AGENT</h4>
                        <h2>FOR FUTURE PLAN</h2>
                        <p>
                            Lorem ipsum dolor sit amet, con sectetur adipisicing elit, sed do Lorem ipra incidunt ut labore et dolore
                            magnam aliquam quaerat voluptatem.
                        </p>
                        <a href="contact.html" class="in-button in-button-white">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Call To Action Area -->
</main>
<!--// Page Conttent -->