
@{
    ViewBag.Title = "SiteMap";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}
<div class="bg-dark">
    <br />
    <br />
    <br />
    <br />
</div>
<!-- Breadcrumb -->
<div class="breadcrumb-area" data-bgimage="../../../Scripts/assets/images/bg/breadcrumb-bg-1.jpg" data-black-overlay="4">
    <div class="container">
        <div class="in-breadcrumb">
            <div class="row align-items-center">
                <div class="col">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>Site Map</li>
                    </ul>
                </div>
                <div class="col">
                    <h6>Site Map</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!--// Breadcrumb -->
<div class="container">
    <!-- Page Conttent -->
    <main class="page-content">
        <section id="" class="mt-5">

            <!--Title-->
            <h2 class="title"><strong>General Pages</strong></h2>

            <!--Section: Live preview-->
            <section class="text-center align-content-center">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6">

                        <!--Card-->
                        <div class="card card-cascade narrower mt-5">

                            <!--Card image-->
                            <div class="view view-cascade py-3 gradient-card-header info-color text-white">
                                <h5 class="mb-0">Home</h5>
                            </div>
                            <!--/Card image-->
                            <!--Card content-->
                            <div class="card-body card-body-cascade">

                                <ul class="divided-list list-unstyled text-center">
                                    <li><a href="/" target="_blank">Main Page</a></li>
                                    <li><a href="/Account/Login/" target="_blank">Sign In</a></li>
                                    <li><a href="/Account/Register/" target="_blank">Sign Up</a></li>
                                    <li><a href="/Home/Contact/" target="_blank">Contact Us</a></li>
                                    <li><a href="/Home/About/" target="_blank">About Us</a></li>
                                </ul>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6">

                        <!--Card-->
                        <div class="card card-cascade narrower mt-5">

                            <!--Card image-->
                            <div class="view view-cascade py-3 gradient-card-header info-color">
                                <h5 class="mb-0">Customer</h5>
                            </div>
                            <!--/Card image-->
                            <!--Card content-->
                            <div class="card-body card-body-cascade">

                                <ul class="divided-list list-unstyled text-center">
                                    <li><a href="/" target="_blank">Home</a></li>
                                    <li><a href="/Manage/" target="_blank">My Account</a></li>
                                    <li><a href="/" target="_blank">Testimonials</a></li>
                                    <li><a href="/PolicyTypes/" target="_blank">Type of Insurance</a></li>
                                    <li><a href="/Home/Contact/" target="_blank">Contact Us</a></li>
                                    <li><a href="/Home/About/" target="_blank">About Us</a></li>
                                    <li><a href="/Home/SiteMap/" target="_blank">Site Map</a></li>
                                </ul>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-4 col-md-6">

                        <!--Card-->
                        <div class="card card-cascade narrower mt-5">

                            <!--Card image-->
                            <div class="view view-cascade py-3 gradient-card-header info-color">
                                <h5 class="mb-0">Employee</h5>
                            </div>
                            <!--/Card image-->
                            <!--Card content-->
                            <div class="card-body card-body-cascade">


                                <ul class="divided-list list-unstyled text-center">
                                    <li><a href="/" target="_blank">Home</a></li>
                                    <li><a href="/Home/Dashboard" target="_blank">Dashboard</a></li>
                                    <li><a href="/Manage/" target="_blank">My Account</a></li>
                                    <li><a href="/" target="_blank">Testimonials</a></li>
                                    <li><a href="/PolicyTypes/" target="_blank">Type of Insurance</a></li>
                                    <li><a href="/Home/Contact/" target="_blank">Contact Us</a></li>
                                    <li><a href="/Home/About/" target="_blank">About Us</a></li>
                                    <li><a href="/Home/SiteMap/" target="_blank">Site Map</a></li>
                                </ul>

                            </div>
                            <!--/.Card content-->

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </section>
            <!--Section: Live preview-->

        </section>

    </main>
    <br />
    <br />
    <br />
    <!--// Page Conttent -->
</div>