
<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>VIMS &#8211; Your Cars Our Policy</title>
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/assets/css/4d756.css" media="all" />
    <link rel='stylesheet' id='rabbit_css-css' href='~/assets/css/rbt-modules.css' type='text/css' media='all' />
    <link rel="stylesheet" href="~/assets/css/c138f.css" media="all" />
    <link rel="stylesheet" href="~/assets/css/fcfe9.css" media="all" />
    <link rel="stylesheet" href="~/assets/css/8b453.css" media="all" />
    <link rel='stylesheet' href='~/assets/css/css.css' type='text/css' media='all' />
    <script src="~/assets/js/eff97.js"></script>
    <script src="~/assets/js/f1253.js"></script>
    <script src="~/assets/js/864c2.js"></script>
</head>

<body class="home page-template page-template-full-width page-template-full-width-php page page-id-4 qode-core-1.0 qodef-smooth-scroll qodef-smooth-page-transitions qodef-menu-from-right qodef-header-standard qodef-sticky-header-on-scroll-down-up qodef-default-mobile-header qodef-sticky-up-mobile-header qodef-dropdown-animate-height qodef-light-header wpb-js-composer js-comp-ver-6.0.5 vc_responsive">
    @RenderBody()
    <div>dsadsa</div>

    <script src="./js/0895c.js"></script>
    <script src="./js/0fef6.js"></script>
    <script type='text/javascript' src='./js/jquery.lazy.min.js'></script>
    <script type='text/javascript' src='./js/rbt-modules.js'></script>
    <script src="./js/6d18f.js"></script>
    <script src="./js/3c2c7.js"></script>
    <script src="./js/f6e06.js"></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var qodefGlobalVars = { "vars": { "qodefAddForAdminBar": 0, "qodefElementAppearAmount": -50, "qodefFinishedMessage": "No more posts", "qodefMessage": "Loading new posts...", "qodefTopBarHeight": 0, "qodefStickyHeaderHeight": 0, "qodefStickyHeaderTransparencyHeight": 60, "qodefLogoAreaHeight": 0, "qodefMenuAreaHeight": 125, "qodefMobileHeaderHeight": 70 } };
        var qodefPerPageVars = { "vars": { "qodefStickyScrollAmount": 0, "qodefHeaderTransparencyHeight": 0 } };
/* ]]> */
    </script>
    <script src="./js/79897.js"></script>
    <script src="./js/b02cd.js"></script>
    <div id="panel" style="margin-left: -318px;">
        <div id="panel-admin">
            <h3>Change The Main Theme Color</h3>
            <span>Try out VIMS in different color combinations.</span>
            <div class="panel-admin-box">
                <div id="toolbar_colors">
                    <div class="color color1  active" data-color="#3a6ee8" style="background-color:#3a6ee8;"></div>
                    <div class="color color2" data-color="#82c168" style="background-color:#82c168;"></div>
                    <div class="color color3" data-color="#22b69c" style="background-color:#22b69c;"></div>
                    <div class="color color4" data-color="#8fa6c6" style="background-color:#8fa6c6;"></div>
                    <div class="color color5" data-color="#d62f56" style="background-color:#d62f56;"></div>
                    <div class="color color6" data-color="#1d1d1d" style="background-color:#1d1d1d;"></div>
                    <div class="color color7" data-color="#9ed4d6" style="background-color:#9ed4d6;"></div>
                    <div class="color color8" data-color="#efd20e" style="background-color:#efd20e;"></div>
                    <div class="color color9" data-color="#E69F99" style="background-color:#E69F99;"></div>
                </div>
            </div>
            <div class="toolbar_border_bottom"></div>
        </div>
        <a class="open" href="#"><span><i class="fa fa-cogs" aria-hidden="true"></i></span></a>
    </div>
</body>

</html>