@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="col-lg-6 login-half-bg d-flex flex-row shadow-lg" style="background-image: url(../../Content/images/auth/viktor-theo--6zl660pz3U-unsplash.jpg);">
    <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2018  All rights reserved.</p>
</div>
<div class="col-lg-6 d-flex align-items-center justify-content-center">
    <div class="auth-form-transparent text-left p-3">
        <div class="brand-logo">
            <img src="~/Content/images/logo.svg" alt="logo">
        </div>
        <h3>Account recovery</h3>
        <br />
        <h4 class="font-weight-light">
            The magic link is sent to your email address.
        </h4>
        <h5 class="font-weight-light">Click on that link and see how the magic works !!</h5>
        <br />
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}